<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA 메인</title>
    <link rel="stylesheet" href="../CSS/QnA.css">
    <link rel="stylesheet" href="../CSS/subMain.css">
    <!-- 폰트 -->
    <link href="https://fonts.cdnfonts.com/css/botera-tfe" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/botera-tfe');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 헤더 -->
    <div id="firstMainFrame">
        <div class="mainJokerFrame">
            <a href="" id="mainA" alt="Mythrill" target="_blank">
                <div class="card">
                    <div class="wrapper">Inside Out</div>
                </div>
            </a>
        </div>
        <div class="menuWindow">
            <nav id="textLine">
                <div id="horizontal-underline"></div>
                <button id="tipBtn">Tip</button>
                <span>|</span>
                <button id="butInfo">Info</button>
                <span>|</span>
                <button id="butqa">Q&A</button>
                <span>|</span>
                <button class="login-button">Login</button>
            </nav>
        </div>
    </div>

    <!-- 문의 글 목록 -->
    <h1 class="QnA_title">QnA</h1>
    <!-- 글 작성 버튼 -->
    <div class="btnWrap">
        <button id="createBtn" class="hide">문의 글 작성</button>
    </div>
    <!-- 목록 가이드 -->
    <div id="guide">
        <span class="guideNumber">번호</span>
        <span class="guideName">작성자</span>
        <span class="guideTitle">제목</span>
        <span class="guideContent">내용</span>
    </div>
    <!-- 문의 글 보여줄 공간 -->
    <div id="list"></div>
    <!-- 문의 글 검색 공간 -->
    <div class="searchWrap">
        <input type="search" name="" id="searchInput" placeholder="글의 제목을 검색해주세요.">
        <button id="searchBtn">검색</button>
    </div>
    <!-- 페이지네이션 공간 -->
    <div class="paginationWrap">
        <div id="pagination"></div>
    </div>
</body>
<script src="../js/QnA.js"></script>

</html>